# Import libraries

In [1]:
import pickle
import pandas as pd
import numpy as np

# Define utils functions

In [2]:
def dict_to_dataframe(result_dict, method_list):

    mean_r2_arr = []
    q1_r2_arr = []
    q3_r2_arr = []

    mean_rmse_arr = []
    q1_rmse_arr = []
    q3_rmse_arr = []

    for method in result_dict:
        mean_r2 = np.median(result_dict[method]["r2_list"])
        q1_r2 = np.percentile(result_dict[method]["r2_list"], 25)
        q3_r2 = np.percentile(result_dict[method]["r2_list"], 75)

        mean_rmse = np.median(result_dict[method]["rmse_list"])
        q1_rmse = np.percentile(result_dict[method]["rmse_list"], 25)
        q3_rmse = np.percentile(result_dict[method]["rmse_list"], 75)

        mean_r2_arr.append(mean_r2)
        q1_r2_arr.append(q1_r2)
        q3_r2_arr.append(q3_r2)

        mean_rmse_arr.append(mean_rmse)
        q1_rmse_arr.append(q1_rmse)
        q3_rmse_arr.append(q3_rmse)


    df_result = pd.DataFrame({"Method": method_list,
                              "Q1. r2": q1_r2_arr, "Avg. r2": mean_r2_arr,  "Q3. r2": q3_r2_arr,
                              "Q1. rmse": q1_rmse_arr, "Avg. rmse": mean_rmse_arr, "Q3. rmse": q3_rmse_arr
                              })

    return df_result

# Natural-split datasets

In [3]:
# Load results
source_name = "natural_split_datasets"
method_names = ["p3ls", "ppsr", "secureboost", "splitnn"]
dataset_names = ["hysys_i", "sfs", "smp"]
dataset_names

['hysys_i', 'sfs', 'smp']

In [4]:
results = {dataset: {} for dataset in dataset_names}
result_dir = "../results"
for dataset in dataset_names:
    for method in method_names:
        file_path = "{}/{}_{}.pkl".format(result_dir, method, dataset)
        with open(file_path, "rb") as f:
            result = pickle.load(f)

        results[dataset][method] = result

In [5]:
dict_to_dataframe(results["hysys_i"], method_names).round(3)

        Method  Q1. r2  Avg. r2  Q3. r2  Q1. rmse  Avg. rmse  Q3. rmse
0         p3ls   0.995    0.995   0.995     0.744      0.744     0.744
1         ppsr   0.934    0.946   0.950     2.314      2.409     2.671
2  secureboost   0.953    0.953   0.953     2.248      2.248     2.248
3      splitnn   0.982    0.986   0.988     1.131      1.238     1.411

In [6]:
dict_to_dataframe(results["sfs"], method_names).round(3)

        Method  Q1. r2  Avg. r2  Q3. r2  Q1. rmse  Avg. rmse  Q3. rmse
0         p3ls   0.955    0.955   0.955    42.058     42.058    42.058
1         ppsr   0.931    0.952   0.958    40.533     43.400    52.154
2  secureboost   0.980    0.980   0.980    28.021     28.021    28.021
3      splitnn   0.953    0.954   0.957    41.197     42.625    43.229

In [7]:
dict_to_dataframe(results["smp"], method_names).round(3)

        Method  Q1. r2  Avg. r2  Q3. r2  Q1. rmse  Avg. rmse  Q3. rmse
0         p3ls   0.981    0.981   0.981     0.014      0.014     0.014
1         ppsr   0.934    0.938   0.943     0.025      0.026     0.026
2  secureboost   0.848    0.848   0.848     0.040      0.040     0.040
3      splitnn   0.932    0.956   0.969     0.018      0.022     0.027